form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 350px;
  color: white;
  background-size: contain;

  border-top: 2px solid plum;
  border-right: 2px solid blue;
  border-bottom: 2px solid lime;
  border-left: 2px solid orange
}

form::after {
    position: absolute;
}