@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  background: linear-gradient(to right, #f9f9f9, #e0f7fa);
  flex-wrap: wrap;
  background: black;
}




.container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100vh;
}

.idea-input {
  width: 90%;
  height: 55%;
  border-radius: 5px;
  
}
@media(max-width: 500px) {
.idea-input {
  width: 70%;
}
}

.idea-input textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#idea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid black;
}

.saved-ideas ul {
  list-style-type: disc;
  padding-left: 20px;
}

.saved-ideas {
  color: white;
  width: 100%;
  height: 100%;
}


/* button,
textarea {
  font-family: inherit;
  font-size: 100%;
} */

h1 {
  font-weight: 700;
}

body h4{
  color: yellow;
  text-shadow: #fc0 1px 0 10px;
  height: 22%;
  text-align: center;
}


body > canvas {
  border: 1px solid white;
  background-color: transparent;
  z-index: 10;
}

.banner {
  margin-bottom: 2.5%;
}




.idea-container {
  /* border: 2px solid blue; */
  position: absolute;
  left: 76%;

  display: flex;
  justify-content: center;
  align-items: center;
}

