@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

body {
  background: linear-gradient(to right, #f9f9f9, #e0f7fa);
  flex-wrap: wrap;
  background: black;
}

form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 350px;
  color: white;
  background-size: contain;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 height: 100vh;
}

.idea-input {
  width: 90%;
  height: 55%;
  border-radius: 5px;
  
}
@media(max-width: 500px) {
.idea-input {
  width: 70%;
}
}

.idea-input textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#idea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid black;
}

button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 0.00001px solid rgb(74, 73, 73);
  margin-top: 25%;
}

button:hover{
  background-color: white;
  border: 2px solid lightblue;
  color: black;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button:before {
  content: "Turn";
  font-size: 16px;
}
button:hover::before {
  content: "ON";
  font-size: 16px;
}

.saved-ideas ul {
  list-style-type: disc;
  padding-left: 20px;
}

.saved-ideas {
  color: white;
  width: 100%;
  height: 100%;
}


button,
textarea {
  font-family: inherit;
  font-size: 100%;
}

h1 {
  font-weight: 700;
}

body h4{
  color: yellow;
  text-shadow: #fc0 1px 0 10px;
  height: 22%;
  text-align: center;
}


body > canvas {
  border: 1px solid white;
  background-color: transparent;
  z-index: 10;
}

.banner {
  margin-bottom: 2.5%;
}


  .pulse-box {
      width: 650px;
      height: 350px;
      background: #111;
      border: 2px solid transparent;
      border-radius: 20px;
      position: relative;
      z-index: 1;
      color: white;
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .pulse-box::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      background-size: 400% 400%;
      border-radius: 24px;
      z-index: -1;
      filter: blur(5px);
    }

    

.idea-container {
  /* border: 2px solid blue; */
  position: absolute;
  left: 76%;

  display: flex;
  justify-content: center;
  align-items: center;
}

